

<%- include('../layouts/adminheader.ejs') -%>


    <div class="container">
        <div class="flex-w flex-tr" style="display: flex; justify-content: center; align-items: center; margin: auto;">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md" style="background-color: rgba(209, 184, 184, 0.664); margin-top: 10%;">

                <h4 class="mtext-105 cl2 txt-center p-b-30">
                    Edit Coupon Details
                </h4>

                <%
                    if(typeof message !== 'undefined'){

                        %>
                        <div class="alert alert-warning" role="alert" id="invalidAlert">
                            <h5><%= message%></h5>
                        </div>
                        <%

                    }

                %> 

                <form action="" method="post">

                    <label for="couponCode" class="stext-111">Edit Coupon Code:</label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="couponCode" type="text" name="code" value="<%= coupon.code%>" placeholder="" required>
                    </div>

                    <label for="discount" class="stext-111">Edit Discount Percentage:</label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="discount" type="number" name="discount" value="<%= coupon.discount%>" placeholder="" required>
                    </div>

                    <label class="stext-111" for="minPurchaseAmt">Edit Minimum Purchase Amount:</label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="minPurchaseAmt" type="number" name="minPurchaseAmt" value="<%= coupon.minPurchaseAmt %>" required>
                    </div>

                    <label class="stext-111" for="maxDeduction">Maximum Discount Amount:</label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="maxDeduction" type="number" name="maxDeduction" value="<%= coupon.maxDeduction %>" required>
                    </div>


                    
                    <label for="expiryDate" class="stext-111">Edit expiry date:</label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <% const formattedExpiryDate = coupon.expiryDate.toISOString().split('T')[0]; %>
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="expiryDate" type="date" name="expiryDate" value="<%= formattedExpiryDate%>" placeholder="" required>
                    </div>


                    <input type="hidden" name="coupon_id" value="<%=coupon._id%>">
                    
                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" type="submit" value="Update Coupon">
                        Update Coupon
                    </button>
                    

                </form>


            </div>
 
        </div>
    </div>
</section>	



<%- include('../layouts/footer.ejs') -%>