<%- include('../layouts/adminheader.ejs') -%>

    <!-- <section class="bg-img1 txt-center p-lr-15 p-tb-50" style="background-color:rgba(128, 0, 0, 0.521);">
    <h3 class="ltext-105 cl0 txt-center">
        Add Products
    </h3>
</section>	

<section class="bg0 p-t-104 p-b-116"> -->
    <div class="container">
        <div class="flex-w flex-tr" style="display: flex; justify-content: center; align-items: center; margin: auto;">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md"
                style="background-color: rgba(209, 184, 184, 0.664); margin-top: 10%;">

                <h4 class="mtext-105 cl2 txt-center p-b-10">
                    Enter Product Details
                </h4>


                <% if(typeof message !=='undefined' ){ %>
                    <div class="alert alert-warning" role="alert" id="invalidAlert">
                        <h5>
                            <%= message%>
                        </h5>
                    </div>
                    <% } %>
                        <br>
                        <form action="/admin/new-product" method="post" enctype="multipart/form-data">

                            <label for="prodocutName" class="stext-111">Enter Name:</label>
                            <div class="bor8 m-b-10 how-pos4-parent">
                                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="productName" type="text"
                                    name="name" placeholder="Enter name" required>
                            </div>


                            <label for="category" class="stext-111">Choose Category:</label>
                            <div class="bor8 m-b-10 how-pos4-parent">


                                <select class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="category" name="category">
                                    <% for (const category of categories) { %>
                                        <option value="<%= category.name %>">
                                            <%= category.name %>
                                        </option>
                                        <% } %>
                                </select><br>
                            </div>

                            <!-- <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="subcategory" placeholder="Enter sub-category" required>
                    </div> -->

                            <label for="brand" class="stext-111">Enter Brand Name:</label>
                            <div class="bor8 m-b-10 how-pos4-parent">
                                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="brand" type="text"
                                    name="brand" placeholder="Enter brand" required>
                            </div>

                            <label for="description" class="stext-111">Enter Description:</label>
                            <div class="bor8 m-b-10 how-pos4-parent">
                                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="description" type="text"
                                    name="description" placeholder="Enter description" required>
                            </div>

                            <label for="image" class="stext-111">Select Product Images:</label>
                            <div class="bor8 m-b-10 how-pos4-parent bg9"
                                style="display: flex; flex-direction: column; justify-content: center; align-items: center;"">
                            <input class=" stext-111 cl2 plh3 size-116 p-l-62 p-r-30 p-t-10" id="image" type="file"
                                name="productImage" style="margin: auto;" accept="image/*" multiple>
                            </div>

                            <label for="price" class="stext-111">Enter Price:</label>
                            <div class="bor8 m-b-10 how-pos4-parent">
                                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="price" type="number"
                                    name="price" placeholder="Enter price" oninput="validatePositiveNumber(this)"
                                    required>
                            </div>

                            <label for="quantity" class="stext-111">Enter Quantity:</label>
                            <div class="bor8 m-b-10 how-pos4-parent">
                                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="quantity" type="number"
                                    name="quantity" placeholder="Enter quantity" oninput="validatePositiveNumber(this)"
                                    required>
                            </div>


                            <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer"
                                type="submit" value="Add Product">
                                Add Product
                            </button>

                        </form>

                        <div class="container" style="display: flex; justify-content: space-between;">
                            <a href="/admin/productadd" style="color:maroon">Back</a>
                        </div>



            </div>

        </div>
    </div>
    </section>

    <script>
        document.getElementById('category').addEventListener('change', function () {
            const selectedCategory = this.value;
        })
    </script>
    <script>
        function validatePositiveNumber(input) {
            // Remove any non-numeric characters and leading zeros
            input.value = input.value.replace(/[^0-9]/g, '');

            // Ensure the value is a positive number
            let number = parseInt(input.value, 10);
            if (isNaN(number) || number < 0) {
                input.value = '';
            }
        }
    </script>



    <%- include('../layouts/footer.ejs') -%>