<%- include('../layouts/header.ejs') -%>

    <%- include('../layouts/userheader.ejs') -%>


        <section class="bg0 p-b-116">
            <div class="container-fluid">
                <div class="d-flex flex-grow-1" style="display: flex; justify-content: center; align-items: center;">
                    <div class="size-210 bor10 p-lr-30 p-t-20 p-b-70 p-lr-2-lg w-full-md"
                        style="flex: 1; margin-left: 5%; margin-right: 5%;">
                        <!-- <section class="bg0 p-b-116">
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-8 col-xl-6"> -->


                        <a href="/myprofile" style="color:maroon; text-decoration: underline;text-align: right;">Back to
                            Profile</a>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <% if (typeof message !=='undefined' ) { %>
                                        <div class="alert alert-warning text-center" role="alert" id="invalidAlert">
                                            <h2>
                                                <%= message %>
                                            </h2>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>


                        <table class="table table-striped mt-5 table-responsive" width="30%"
                            style="flex: 1;width:100%; background-color:white;border: 1px solid #cecccc;">
                            <!-- <div class="table-responsive" style="overflow-x: auto;width: 100%;">
                                <table class="table table-striped" style="width:100%; background-color:white;border: 1px solid #cecccc;"> -->

                            <tr style="background-color: rgba(209, 184, 184, 0.664); color: maroon;">
                                <th class="serial">SNo.</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Amount</th>
                                <th>Payment Method</th>
                                <th colspan="5"></th>
                            </tr>

                            <% if(order.length>0){
                                for(let i=0;i< order.length;i++){ %>
                                    <tr>
                                        <td style="padding-left: 1.5%;">
                                            <%= i+1 %>
                                        </td>
                                        <td>
                                            <%= new Date(order[i].createdAt).toLocaleDateString('en-US', {
                                                year: 'numeric' , month: 'short' , day: 'numeric' , }) %>
                                        </td>

                                        <!-- <td>
                                        <%= order[i].orderStatus %>
                                    </td> -->
                                        <td>
                                            <% if (order[i].orderStatus==='Cancelled' ||
                                                order[i].orderStatus==='Returned' ) { %>
                                                <span style="color: red;">
                                                    <%= order[i].orderStatus %>
                                                </span>
                                                <% } else if (order[i].orderStatus==='Delivered' ) { %>
                                                    <span style="color: green;">
                                                        <%= order[i].orderStatus %>
                                                    </span>
                                                    <% } else if (order[i].orderStatus==='Processing' ) { %>
                                                        <span style="color: rgba(255, 153, 0, 0.993);">
                                                            <%= order[i].orderStatus %>
                                                        </span>
                                                        <% } else { %>
                                                            <span style="color: blue;">
                                                                <%= order[i].orderStatus %>
                                                            </span>
                                                            <% } %>
                                        </td>
                                        <td>
                                            <%= order[i].amountPayable %>
                                        </td>
                                        <td>
                                            <%= order[i].paymentMethod %>
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-primary"><a style="color:white;font-weight:bold;"
                                                    href="/see-order?id=<%=order[i]._id%>">View Order</a></button>
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-primary"><a style="color:white;font-weight:bold;"
                                                    href="/invoice?id=<%=order[i]._id%>">Invoice</a>
                                            </button>
                                        </td>
                                        <td>
                                            <% if (order[i].orderStatus === "Delivered") { %>
                                                <button type="button" class="btn btn-danger">
                                                    <a style="color:white;font-weight:bold;" href="/return-order?id=<%= order[i]._id %>">Return</a>
                                                </button>
                                            <% } else { %>
                                                <button type="button" class="btn btn-danger"><a style="color:white;font-weight:bold;"
                                                    href="/cancel-order?id=<%=order[i]._id%>">Cancel</a>
                                                </button>
                                                
                                            <% } %>
                                        </td>

                            
                                    </tr>
                                    <% } %>




                                        <% }else{ %>
                                            <tr>
                                                <td colspan="5">Orders Not Found</td>
                                            </tr>
                                            <% } %>
                        </table>

                            </div>
                                    </div>
                    </div>
                </div>
        </section>
        <style>
            @media (max-width: 768px) {
        
                .col-md-10,
                .col-lg-8,
                .col-xl-6 {
                    width: 100%;
                    /* Occupy full width on smaller screens */
                }
            }
        </style>



        <%- include('../layouts/userfooter.ejs') -%>
            <%- include('../layouts/footer.ejs') -%>